.idea
*.iml
.env

# Ignore application-local.yml/properties
application-local.yml
application-local.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
